@layer utilities {
    .roboto-font {
        font-family: "Roboto Slab", serif;
       font-optical-sizing: auto;
       font-weight: <weight>;
       font-style: normal;
     }

   * {

    font-family: "Poppins", sans-serif;
    
    }
}
    font-family: "Roboto Slab", serif;
   font-optical-sizing: auto;
   font-weight: <weight>;
   font-style: normal;
  }